<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Search Vehicle Information</title>
</head>

<body>
  <div class="container">
    <h1>Enter Vehicle Number to Find Information</h1>

    <!-- نموذج البحث عن السيارة -->
    <form action="/" id="form" class="form" method="POST">
      <label for="vehicleNumber">Enter Vehicle Number:</label>
      <input type="text" id="vehicleNumber" name="vehicleNumber" required>
      <button type="submit" class="form-submit">Search</button>
    </form>

    <section id="cards" class="cards">
      <% if (locals.data) { %>
        <!-- عرض تفاصيل السيارة إذا تم العثور عليها -->
        <article class="card-item">
          <h2 class="card-activity">
            Vehicle Number: <%= data.vehicle_number %>
          </h2>
          <div class="card-info">
            <span class="card-type">
              Brand: <%= data.brand %>
            </span>
            <span class="card-participants">
              Model: <%= data.model %>
            </span>
            <span class="card-participants">
              Year: <%= data.year %>
            </span>
            <span class="card-participants">
              Color: <%= data.color %>
            </span>
          </div>
        </article>
      <% } %>

      <% if (locals.error) { %>
        <!-- عرض رسالة الخطأ إذا لم يتم العثور على بيانات -->
        <div id="tag-error" class="tag-error">
          <%= error %>
        </div>
      <% } %>
    </section>
  </div>

</body>

</html>
